.purchase-list__item {
    padding-top: 1rem;
    margin-bottom: 1.5rem;
}

.booking__login-url {
    margin-top: 2rem;
}

.purchase-list__item .purchase-list-card {
    margin-top: 2rem;
    margin-right: 300px;
}

.purchase-list__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
}

.purchase-list-card {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.purchase__list-name {
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: rgba(3, 18, 26, 0.15) 0px 2px 5px;
}

.purchase__booking-id {
    background-color: #e4002ae0;
    padding: 13px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #fffffff8;
}

.purchase__booking-id span {
    font-weight: 500;
    color: #fff;
}

.purchase__tourName {
    background-color: #fff;
    padding: 13px;
    color: #212121;
    font-weight: 600;
    font-size: 0.95rem;
    box-shadow: rgba(3, 18, 26, 0.15) 0px 2px 5px;
}

.purchase__tourName span {
    margin-right: 8px;
    color: rgb(90, 98, 103);
    font-size: 0.9rem;
}

.purchase__tourName i {
    margin-right: 8px;
    color: red;
}

.purchase__product {
    background-color: #21212115;
    padding: 13px 13px 0px 13px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #212121d7;
    box-shadow: rgba(3, 18, 26, 0.15) 0px 2px 5px;
}

.purchase__payment-status {
    background-color: rgb(236, 248, 255);
    padding: 13px 13px 0px 13px;
}

.purchase__payment-status p {
    max-width: 240px;
    font-size: 0.8rem;
    font-weight: 600;
    color: #fff;
    background-color: rgb(0, 124, 232);
    padding: 6px 0px 5px 10px;
    border-radius: 25px;
}

.purchase-right-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.purchase__totalAmount {
    padding: 15px 10px 0px 10px;
    font-size: 0.95rem;
    font-weight: 700;
}

.purchase-details {
    color: #E4002B;
    border: none;
    font-size: 0.9rem;
    font-weight: 700;
    margin-right: 15px;
    text-decoration: underline;
    cursor: pointer;
}
